@import "partials/variables";
@import "partials/mixin";
@import "partials/alert";
@import "partials/loop";
header {
    padding: 10px 0;
    img {
        width: 100%;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
        ul {
            li {
                display: inline-block;
                padding: 15px;
                font-size: $font-size;
                a {
                    text-decoration: none;
                    font-family: $font-stack;
                    color: $primary-color;
                    &:hover {
                        color: $secondary-color;
                        @include setTransition(all, 0.5s);
                    }
                }
                &::after {
                    content: "";
                    display: block;
                    width: 15px;
                    height: 4px;
                    border: 2px solid $third-color;
                    border-radius: $border-radius;
                }
                &:hover::after {
                    width: 100%;
                    @include setTransition(all, 0.5s);
                }
            }
        }
    }
}